
* {
    box-sizing: border-box;
}

/*Sets margin value to 0*/
body {
    margin: 0;
}

/*Nav bar colour and borders set*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(230, 111, 0);
}

/*Navbar sticks to the left*/
li {
    float: left;
}

/*Colour, shape and decoration for the drop down buttons of nav bar*/
li .nav_bar, .dropbutton {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px 70px;
    text-decoration: none;
}

/*Sets colour of the nav bar tabs when hovering over them with cursour*/
li .nav_bar:hover, .dropdown:hover .dropbutton {
    background-color: rgb(170, 230, 255);
}

/*Creates boxes for the drop down buttons*/
li.dropdown {
    display: inline-block;
}

/*sets position, size and decoration of the drop down content in the drop down buttons*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Sets colour, size and decoration of dropdown content buttons*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Sets background colour to white when hovering over drop down content*/
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Homepage column blocks design*/
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    height: 33.33%;
    border: 5px;
    background-color: rgb(193, 128, 255);
    border-style: groove;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*Responsive web page for home screen columns*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*Homepage footer*/
.footer {
    color: rgb(255, 255, 255);
    background-color: rgb(206, 153, 255);
    Text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/*Design of the spotify button wihtin the footer on the homepsge*/
.footer_one:link, .footer_one:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*Design of the spotify button whilst the cursor is over it and when it is clicked*/
.footer_one:hover, .footer_one:active {
    background-color: green;
    color: white;
}

/*Header design for the Jason Derulo webpage*/
.Jason_Derulo_Header {
    background-color: rgb(32, 96, 32);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.Jason_Derulo_Column1 {
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 33.33%;
    border: 5px;
    background-color: rgb(26, 255, 26);
    color: rgb(0, 0, 0);
    border-style: groove;
}

.Jason_Derulo_Column2 {
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 33.33%;
    border: 5px;
    background-color: rgb(26, 255, 26);
    color: rgb(0, 0, 0);
    border-style: groove;
}

.Jason_Derulo_Column3 {
    float: left;
    width: 33.33%;
    height: 33.33%;
    padding: 20px;
    border: 5px;
    background-color: rgb(26, 255, 26);
    color: rgb(0, 0, 0);
    border-style: groove;
}

.Jason_Derulo_Row:after {
    content: "";
    display:table;
    clear: both;
}

.Jason_Derulo_Footer {
    color: rgb(0, 0, 0);
    background-color: rgb(32, 96, 32);
    Text-align: center;
    padding: 20px;
}

.Jason_Derulo_Footer_Tab:link, .Jason_Derulo_Footer_Tab:visited {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Jason_Derulo_Footer_Tab:hover, .Jason_Derulo_Footer_Tab:active {
    background-color: rgb(26, 255, 26);
    color: rgb(0, 0, 0);
}

.Twenty_One_Pilots_Header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.Twenty_One_Pilots_Footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

.Twenty_One_Pilots_Column1 {
    float: left;
    background-color: rgb(140, 140, 140);
    width: 33.33%;
    height: 33.33%;
    padding: 20px;
    border-style: groove;
    border: 5px;
    transform: rotate(20deg);
}

.Twenty_One_Pilots_COlumn2 {
    float: left;
    background-color: rgb(179, 0, 0);
    width: 33.33%;
    height: 33.33%;
    padding: 20px;
    border-style: groove;
    border: 5px;
    transform: rotate(-20deg);
}

.Twenty_One_Pilots_Column3 {
    float: left;
    background-color: rgb(255, 255, 0);
    width: 33.33%;
    height: 33.33%;
    padding: 20px;
    border-style: groove;
    border: 5px;
    transform: rotate(20deg);
}

.Twenty_One_Pilots_row:after {
    content: "";
    display: table;
    clear: both;
}
.Twenty_One_Pilots_Footer_Tab:link, .Twenty_One_Pilots_Footer_Tab:visited {
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Twenty_One_Pilots_Footer_Tab:hover, .Twenty_One_Pilots_Tab:active {
    background-color: rgb(26, 255, 26);
    color: rgb(0, 0, 0);
}
